.title {
    /* 256 Student */

    /* Body 02 */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;

    /* Body Text */
}

.price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* Main Text */

}

.card-one {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* Secondary */
}

.card-two-title {
    /* Title 02 */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    /* Secondary */
}

.card-clock {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* color/body color */
}

.card {
    background: #f9f9f9;
    margin-top: 10px;
}

.card-border {
    border: 1px solid #9BA1FF;
    border-radius: 11px;
}
.title {
    /* 256 Student */

    /* Body 02 */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;

    /* Body Text */
}

.price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* Main Text */

}

.card-one {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* Secondary */
}

.card-two-title {
    /* Title 02 */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    /* Secondary */
}

.card-clock {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* color/body color */
}

.card {
    background: #f9f9f9;
    margin-top: 10px;
}

.card-border {
    border: 1px solid #9BA1FF;
    border-radius: 11px;
}