<!-- <div (click)="onclick.emit(item)" style=" background: var(--my-card-background)" -->
  <div (click)="onclick.emit(item)" style=" background: var(--solid-background)"
  class="px-1 w-[10rem]  h-[10rem]  rounded-lg shadow ">
  <div class="flex justify-center">
    <img ImageFallBack
      [src]="item && item.image?  domSanit.bypassSecurityTrustUrl(item.image) :'https://ionicframework.com/docs/img/demos/card-media.png'"
      class="h-24 self-baseline" alt="">

  </div>
  <h5 class="mt-1 text-md  tracking-tight font-medium ">
    {{(item.title && item.title.length > 30) ? ((item.title | slice:0:30 )+"..."):(item.title)??'Name'}} </h5>
  <p class="font-light text-sm text-[var(--my-content-text-color)] "> Tech Defenders Hub </p>
</div>