.title {
    /* Title 01 */
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;

    /* Main Text */
}

.bg-segment {
    background: linear-gradient(to right, #D6FCF9, #79fa6414);
}

.card-title {
    /* Body 02 */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;

    /* Main Text */
}

.card-sb-title {
    /* Body 03 */
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    /* identical to box height, or 185% */
    display: flex;
    align-items: center;

    /* Body Text */
}

.yuzde {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;

    /* Body Text */
}

.yildiz {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: right;

    /* Body Text */
}

.bg {
    border: 1px solid #e6dbc8;
    border-radius: 6px;
}


ion-segment-button {
    text-transform: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.one {
    background: var(--ion-color-primary);
    border-radius: 3px;
}

.two {
    background: #DEFFF1;
    border-radius: 3px;
}

.head {
    width: 100%;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: start;
    left: 3px;
}

ion-button {
    --ion-color-primary: #3d94c378 !important;
}

ion-segment-button {
    --ion-color: #ffffff78 !important;

}