.title {
    /* Title 01 */
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
}

.content-bg {
    background: var(--solid-background);
    width: 100%;
    border-bottom: 1px solid #d4d4d4a0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.card-two-title {
    /* Title 02 */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    /* Secondary */
}

.card-clock {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* color/body color */
}

.card {
    background: var(--solid-darker-background);
    margin-top: 10px;
    // box-shadow: 0px 16px 30px var(--ion-color-primary)
}

.card-border {
    border-radius: 11px;
}

.start-btn {
    --border-radius: 9999px;
    background-color: var(--ion-color-gradiend-primary) !important;
}